<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to AdmiTron5000, <%= @user.f_name %> <%= @user.l_name %></h1>
    <p>
      You have successfully signed up to become one of our members!<br>
    </p>
    <p>  
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To change your password, please contact our administration office at 999-999-9999
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Please spend sometime to look at our courses that you are interested in!
    </p>
    <br>
    <p>Hope to see you in the class! Have a nice day!</p>
    <br>
    <br>
    <p>Sincerely,</p>
    <br>
    <p>The AdmiTron5000 team</p>
    <hr>
    <p>AdmiTron5000<br>
      9999 E 21th Street<br>
      New York, NY 12345<br>
      999-999-9999<br>
      Email: admin@admitron.com<br>
    </p>
  </body>
</html>