<footer class="site-footer">
	<div>
		<div class="social-links">
			<a href="https://trello.com/b/t9oNUEQN/admitron5000-proj-3-admissions-tracker"><img id="trello" src="/images/trello_logo.png"></a> 
			<a href="https://github.com/kasmd/admissions-tracker"><img src="/images/github.png"></a>
		</div>
		<img class="admitron" src="/images/admitron.png" alt="loco">
		<!-- <p class="admitron">AdmiTron<span>5000</span></p> -->
	</div>
</footer>