<footer>
	<div class="social-links">
		<a href="https://trello.com/b/t9oNUEQN/admitron5000-proj-3-admissions-tracker"><img id="trello" src="/images/trello.png"></a> 
		<a href="https://github.com/kasmd/admissions-tracker"><img src="/images/github.png"></a>
	
	</div>
</footer>