<header>
	<div class="logo">
		<img src="http://static1.squarespace.com/static/551d64a8e4b0eeef9d4c5e6e/t/551d7c50e4b0b4693e0b11c0/1434141915347/" alt="pied-piper">
	</div>
	<nav class="float-right">
		<ul class="logged-in">
		  <li><a href="/">Home</a></li>
		  <li><%= link_to 'Logout', logout_path, method: "DELETE" %> </li>
		</ul>
		<ul class="logged-out">
		  <li><a href="/signup">Sign Up</a></li>
		  <li><a href="/login">Log In</a></li>
		</ul>
	</nav>
</header>