<h1>Phone Interview</h1>

<div>
	<div id="timer"><span id="minutes">10</span>:<span id="seconds">00</span></div>
	<button id="start-timer">Start</button>
	<button id="stop-timer">Stop</button>
	<button id="reset-timer">Reset</button>
</div>

<%= form_for Phone.new, :url => {:action => :create, :controller => :'officers/submissions'} do |f| %> 
	<%= label_tag(:q1, "Does the prospective student have critical thinking skills?") %> 
	<%= f.text_field :q1 %> 
	<%= f.submit %> 


<% end %> 