<h1><%= @submission.students %></h1>

<% @submission.courses each do |course| %>
<%= course.name %>
<% end %>








  # create_table "submissions", force: :cascade do |t|
  #   t.integer  "student_id"
  #   t.integer  "course_id"
  #   t.string   "status",            default: "pending-phone"
  #   t.integer  "instructor_id"
  #   t.integer  "officer_id"
  #   t.datetime "created_at"
  #   t.datetime "updated_at"
  #   t.string   "file_file_name"
  #   t.string   "file_content_type"
  #   t.integer  "file_file_size"
  #   t.datetime "file_updated_at"
  # end