/*----- All ------*/


.float-right {
	float: right;
}

.float-left {
	float: left;
}

/*----- Header ------*/

header {
	padding: 0 10px;
	background-color: #eee; 
	position: relative;
}

.logo {
	padding: 0.25em;
}

nav {
	position: absolute;
	top: 50%;
	right: 2em;
	transform: translateY(-50%);
}

nav .button {
	margin-bottom: 0; 
}

.logo img {
	width: 3.5em;
	height: 3.5em;
}

.logo {
	display: inline-block;
}

/*----- Footer ------*/

footer {
	position: fixed;
	left: 0;
	bottom:0;
	width: 100%;
	background-color: #eee; 
}

#trello {
	margin-left: 2em; 
}

.footer {
	position: relative;
}

.social-links img {
	height: 2em; 
	width: 2em;
	margin: .5em;
	border-radius: 50%;
}

.admitron {
	position: absolute;
	top: 50%;
	right: 2em;
	transform: translateY(-50%);
	height: 4em;
}


.site-footer {
	text-align: center;
}

footer a {
	color: white;
}

/*----- Public ------*/
h1 {
	text-align: center;
}

.video {
	width: 100%;
	margin: 0 auto;
}

#welcomevid {
position: relative;
width: 100%;
height: auto;
}

.welcometext {
	padding: 50px; 
}

.thousands {
	color: #33C3F0;
	font-size: 5em;
}

.button_link {
	color: white;
}


.testimonial {
	width: 32%;
	height: 600px;
	margin: 0 5px;
	border: solid #cccccc 1px; 
	float: left;
	text-align: center;
	font-size: 30px; 
}

.reference {
	margin: 5px auto;
	margin-top: 20px; 
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
  height: 150px;
}

/*----- Courses ------*/
.course-list {
	width: 900px;
	margin: 0 auto;
}

div.course {
	margin: 1.5em 0;
	min-height: 7em;
	padding: 1em;
	border-radius: 2px;
}

div.course:hover {
	background: #eee;
}

.course h3 {
	display: inline-block;
}

.course ul {
	list-style: none;
	padding: 0;
}

.course li {
	margin: 0 0 1em 0;
}

/*----- Submission Table ------*/

table {
  width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

#search {
	display: block;
	margin: 10px auto;
	width: 200px;
	padding: 10px;
	border-radius: 6px;
	outline: none;
	border: 1px solid grey;
}

#search:focus {
	outline: none;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


/*NEW CHANGES*/

.login {
	text-align: center; 

}