/*----- All ------*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
	min-height: 100%;
	position: relative;
}

body {
	margin: 0 0 75px;
	font-family: 'Ubuntu', sans-serif; 
}

.container {
	min-height: 500px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/*----- Header ------*/

header {
	padding: 0 10px;
	height: 75px;
	background-color: #eee
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
	display: inline-block;
}

.logo img {
	width: 50px;
	height: 50px;
}

.logo {
	display: inline-block;
}

/*----- Footer ------*/

footer {
	position: absolute;
	left: 0;
	bottom:0;
	height: 75px;
	width: 100%;
	background-color: blue;
}

.site-footer {
	text-align: center;
}

footer a {
	color: white;
	padding: 5px;
}

/*----- Public ------*/
h1 {
	text-align: center;
}

.homepage-button {
	text-align: center;
}

/*----- Courses ------*/
.course-list {
	width: 900px;
	margin: 0 auto;
}

div.course {
	margin: 1.5em 0;
	min-height: 7em;
	padding: 1em;
	border-radius: 2px;
}

div.course:hover {
	background: #eee;
}

.course h3 {
	display: inline-block;
}

.course ul {
	list-style: none;
	padding: 0;
}

.course li {
	margin: 0 0 1em 0;
}